/* Color and styling */
:root{
    --PrimaryColor: rgb(20, 124, 156);
    --SecondaryColor: rgb(124, 176, 190);
    --gradientColor:  rgb(100, 207, 236);
    --WhiteColor: rgb(240, 239, 233);
    --BlackColor:  rgb(14, 15, 15);
    --TextColor: rgb(50, 54, 54);
    --WhiteColerDeam: rgb(209, 208, 201);
    --GreyText: rgb(190, 190, 190);
    --InputColor: rgb(239, 239, 239);
    --BodyColor: rgb(240, 246, 246);
    --CardBG: rgb(225, 225, 235);
  }

header{
    justify-content: center;
    position: fixed;
    z-index: 1000;

    .logo{
        color: black;
    }
    
    @media only screen and (max-width: 768px){
        .navbar{
            position: absolute;
            width: 80%;
            height: max-content;
            box-shadow: 1px 2px;
            top: 6rem;
        }
    }
}
